!third-party/akantu_iterators
!third-party/cmake/*
!third-party/iohelper
*.pvd
*.pvtu
*.tar.bz2
*.tar.gz
*.tbz
*.tgz
*.vtk
*.vtu
*~

.*.swp
.auctex*
.cache
.ccache
.ccls
.ccls-cache
.clangd
.clangd
.cmake
.dir-locals.el
.idea
.iwyu.imp
.mailmap
.vscode

TAGS
VERSION

__pycache__
_skbuild

build*/

compile_commands.json
doc/dev-doc/auto_examples/*
doc/dev-doc/examples/*

examples/c++/perf-test-akantu-cohesive/cube.msh
paraview/*
release
setup.cfg
third-party/*/
